body {
	background-color: #68413F;
	background-image: url(images/background.jpg);
	margin:0;
}

.header {
	border-bottom:solid 1px #ffffff;
	padding:20px 0px 20px 30px;
}

.nav {
	position:absolute;
	padding:10px 20px 20px 0px;
	width:200px;
	left:0px	
}
.content {
	position:relative;
	padding:25px 20px 40px 20px;
	font:normal 14px Tahoma;
	color:#ffffff;	
	margin-left:220px;
	width:500px;
	border-left:solid 1px #ffffff;
}
.wan {
	text-align:right;
	color:#ffffff;	
	font:normal 12px Tahoma;
}
.footer {
	clear:both;
	border-top:solid 1px #ffffff;
	text-align:center;
	font:normal 12px Tahoma;
	color:#ffffff;
	padding-top:10px;
}
.nav li { 
	list-style-type:none;
	text-align:right;
	padding-bottom:7px;
	text-transform:uppercase;
	font:normal 14px Tahoma;
}
.nav li a{	
	color:#ffffff;
	text-decoration:none;
}
a {
	color:#F7931D;
}
.imgPadRight {
	padding-right:20px;
}
.imgPadLeft {
	padding-left:20px;
}
.item {
	color:#ED1C24;
	font-weight:bold;
}
.pricelist {
	width:300px;
}
.priceitem{
	float:left;
	width:220px;
}
.priceitem, .price {
	border-bottom:solid 1px #a56865;
	padding:2px;
}
.coupon {
	width:300px;
	height:100px;
	border:dashed 3px #000000;
	padding:20px;
	background-color:#f8cac7;
	color:#000000;
}
.couponHeadline {
	text-align:center;
	font:bold 16px Arial;
	padding-bottom:15px;
}
.couponDetail {
	text-align:center;
}
.png {behavior: url(iepngfix.htc); width:375px; height:75px }
.photo {
width:533px;
height:400px;
}