<ul>
			<li> <a href="/"><span id="m_home">Home</span></a> </li>
			<li> <a href="/nail-care.html"><span id="m_nailcare">Nail Care</span></a> </li>
			<li> <a href="/reflexology-massage.html""><span id="m_reflex">Reflexology Massage</span></a> </li>
			<li> <a href="/foot-and-hand-massage.html""><span id="m_fhmassage">Foot & Hand Massage</span></a> </li>			
			<li> <a href="/products.html"><span id="m_products">Products</span></a> </li>
			<li> <a href="/nail-party.html"><span id="m_nailparty">Nail Party</span></a> </li>
			<li> <a href="/price-list.html"><span id="m_pricelist">Price List</span></a> </li>			
			<li> <a href="/photo-gallery.html"><span id="m_photo">Photo Gallery</span></a> </li>
			<li> <a href="/contact-us.html"><span id="m_contactus">Contact Us</span></a> </li>
			<br/>
			<li><img src="images/star.jpg" /> <a href="/special-offers.html"><span id="m_specialoffers">Special Offers</span></a> <img src="images/star.jpg" /></li>
		</ul>
	<p/>
	<p class="wan">* Free Wireless Internet</p>
	
