<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="verify-v1" content="r8IsAJsXBkYVAt6t7+sGJrJigWyvZmpDskV+nptwoSE=" />
<title>{{page.title}} - NailsOnlyMN.com</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="wrapper">
	<div class="header">
		{% include header.html %}
	</div>

	<div class="mainarea">
		<div class="nav">
			{% include nav.html %}
		</div>
	
		<div class="content">
			{{content}}
		</div>
	</div>
	
	<div class="footer">
		{% include footer.html %}
	</div>
</div>
<script type="text/javascript" src="nav.js"></script>
</body>
</html>